
# Ignore everything in 0_periodic and its subdirectories
0_periodic/**
!0_periodic/**/
!0_periodic/**/*.gitkeep


# Ignore everything in 1_projects
1_projects/*
!1_projects/**/*.gitkeep
!1_projects/**/*.gitkeep

# Ignore everything in 2_areas
2_areas/**
!2_areas/**/
!2_areas/**/*.gitkeep

# Ignore everything in 3_resources
3_resources/**
!3_resources/**/
!3_resources/**/*.gitkeep

# Ignore everything in 4_archive
4_archive/**
!4_archive/**/
!4_archive/**/*.gitkeep

# Ignore everything in 5_system and its subdirectories
5_system/**
!5_system/**/
!5_system/**/*.gitkeep




maps_of_content**
!maps_of_content**/
!maps_of_content**/*.gitkeep
# Explicitly ignore tasks.md in 5_system/maps_of_content
maps_of_content/tasks.md

# Ignore .pandoc and .trash directories
.pandoc/**
.trash/**

# Ignore everything in .obsidian
.obsidian/**


# Allow specific directories and files
!.obsidian/snippets/
!.obsidian/snippets/**

!.obsidian/themes/minimal/
!.obsidian/themes/minimal/**

# Allow .gitkeep files in .obsidian and subdirectories
!.obsidian/**/*.gitkeep


# Ignore all .json files with "workplace" in the filename
**/*workplace*.json
**/*workspace*.json

# Allow certain assets
!5_system/assets/daily_note.png


