/*
Earth Scale

.theme-dark .graph-view.color-fill {
    color: #c0a98f;
    opacity: 0.75;
}
.theme-dark .graph-view.color-fill-unresolved {
    color: #4d443b;
    opacity: 0.65;
}
.theme-dark .graph-view.color-fill-tag {
    color: #e0d4aa;
    opacity: 0.85;
}

.theme-light .graph-view.color-fill {
    color: #6b5745;
    opacity: 0.7;
}
.theme-light .graph-view.color-fill-unresolved {
    color: #a1917e;
    opacity: 0.6;
}
.theme-light .graph-view.color-fill-tag {
    color: #d4c5a5;
    opacity: 0.75;
}
*/


/* Gray Scale */
.theme-dark .graph-view.color-fill {
    color: #888888;
}
.theme-dark .graph-view.color-fill-unresolved {
    color: #333333;
    opacity: 0.7;
}
.theme-dark .graph-view.color-fill-tag {
    color: #bbbbbb;
}

.theme-light .graph-view.color-fill {
    color: #666666;
    opacity: 0.75;
}
.theme-light .graph-view.color-fill-unresolved {
    color: #999999;
    opacity: 0.7;
}
.theme-light .graph-view.color-fill-tag {
    color: #444444;
    opacity: 0.85;
}


